<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.username %></h1>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Don't forget to flesh out your profile by clicking the "Edit Profile" button on your profile page.
    </p>
    <p>
      Also, link your Gravatar profile to show off your personalized profile picture! (via <a href="https://www.gravatar.com/profile">Gravatar</a>)
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>