<%# turn into a partial/turbo frame for later? %>

<h1 class="page-header">Likes on this Post</h1>

<div class="likes-container">
  <% if @likes.any? %>
    <ul class="likes-list">
      <% @likes.each do |like| %>
        <li class="like-item"><%= like.user.username %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-likes-message">No one has liked this post yet.</p>
  <% end %>
</div>
